@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*{
  font-family: 'Nunito Sans', sans-serif;
}
body{
  background-color:#FAFAFA;
}

.item-enter{
  opacity: 0.01;
  transform: translate(0,0);
  transition: all 300ms ease-in;
}
.item-enter-active{
  opacity: 1;
  transform: translate(0,0);
  transition: all 300ms ease-in;
}